:root {
  --active: #2188ff;
  --white: #fff;
  --lightgray: #dddddd;
  --gray: #C0C0C0;
  --darkgray: #24292e;
  --blue: #0d5993;
  --lightblue: #0366d6;
  --darkblue: #032f62;
  --lightred: #f97583;
  --mediumred: #f05454;
  --red: #d73a49;
  --darkred: #9e1c23;
  --orange: #fb8532;
  --darkorange: #e36209;
  --twitter: #00acee;
  --linkedin: #0e76a8;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--darkgray);
}

main {
  flex: 1 0 auto;
  max-width: 45em;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

main :first-child {
  margin-top: 0;
}

header {
  width: 100%;
  display: inline-flex;
  flex: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2em;
  background-color: var(--darkgray);
  border-bottom: 5px solid var(--lightred);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  width: 100%;
  height: 75px;
  padding: 5px 0 5px 0;
  font-size: .8em;
  text-align: center;
  color: var(--lightgray);
  background-color: var(--darkgray);
  border-top: 5px solid var(--lightred);
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre {
  display: flex;
  overflow: auto;
}

code {
  font-family: Menlo, Consolas, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  color: rgb(28, 28, 28);
  background-color: #d0cece;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: var(--lightblue);
  text-decoration: underline;
}

a[href]:hover {
  color: var(--mediumred);
  transition: all .2s ease;
}

i.twitter:hover {
  color: var(--twitter);
  transition: all .2s ease;
}

i.linkedin:hover {
  color: var(--linkedin);
  transition: all .2s ease;
}

img {
  max-width: 100%;
}

img[width] {
  width: auto;
  /* Defer to max-width */
}

img[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none;
  /* override del, ins, mark defaults */
  color: inherit;
  /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line+br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  font-size: 1.5em;
  flex-basis: 50%;
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  display: inline-flex;
  flex-wrap: wrap;
}

.nav-item {
  margin: .5em;
}

.nav-item a[href]:not(:hover),
.home a[href]:not(:hover) {
  color: var(--lightgray);
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  counter-increment: start-from -1;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: ""counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em;
  /* 4px 3px /16 */
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: lowercase;
  font-size: 0.7em;
  padding: 2px 4px;
  margin-left: 0.2em;
  color: var(--white);
  background-color: var(--lightred);
  border-radius: 0.25em;
  text-decoration: none;
}

a[href].post-tag {
  color: var(--white);
  text-decoration: none;
}

a[href].post-tag:hover {
  background-color: var(--mediumred);
  text-decoration: underline;
  transition: all .2s ease;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em;
  /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover>a[href].direct-link,
:hover>a[href].direct-link:visited {
  color: #aaa;
}

@media screen and (max-width: 900px) {
  header {
    flex: 0 0 auto;
    font-size: 1em;
  }

  .home {
    position: absolute;
    left: -999px;
  }
}
