---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<h4>Ramblings and musings of a regular guy.</h4>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
