---
layout: layouts/base.njk
permalink: /blog/
title: Blog | Alex Peter Hall
eleventyNavigation:
  key: Blog
  order: 2
---

<h4>Ramblings and musings of a regular guy.</h4>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
<hr>