---
layout: layouts/base.njk
permalink: /blog/
title: Blog | Alex Peter Hall
eleventyNavigation:
  key: Blog
  order: 3
---

<h4>This is my blog. There are many like it, but this one is mine.</h4>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
<hr>