---
layout: layouts/home.njk
permalink: /
title: Alex Peter Hall
eleventyNavigation:
  key: Home
  order: 1
---

<h1 align="center">Hi! I'm Alex.</h1>

<p><b>I help companies build and improve their manual and automated testing practices.</b> I have over a decade of professional experience in Quality Assurance performing manual testing, leading testing teams, and building test automation frameworks and end-to-end tests. I am 100% focused on software engineering and driving software quality through test automation using the latest technologies. I'm also having a lot of fun with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, <a href="https://react.dev/" target="_blank">React</a>, learning about static-site generators, and all that cool Jamstack stuff.

<ul>
<li>📫 How to reach me: alexpeterhall @ gmail</li>
<li>🛠 I'm currently working on test automation with <a href="https://webdriver.io/" target="_blank">WebdriverIO</a>, <a href="https://cypress.io/" target="_blank">Cypress</a>, and TypeScript</li>
<li>🚀 I'm learning Python, React, and focusing on computer science fundamentals.</li>
<li>🏍 Fun facts: I play classical violin, ride motorcycles, and love watches.</li>
</ul>

<p>I am currently looking for new opportunities and I am excited to join a collaborative team where I can make an impact with test automation!</p>

<p>I like to read and I am always learning something new. I am currently fascinated with philosophy, psychology, and leadership. I also like disc golf, riding motorcycles, watches, playing classical violin, and collecting more hobbies than I have time for.</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h2>Latest
  {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }}
    Posts{% endif %}
</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p> 
  More posts can be found in
  <a href="{{ '/blog/' | url }}">the archive</a>.
</p>