---
layout: layouts/home.njk
---

<p align="center"><img src="/img/headshot.png" width="184" height="200" alt="Professional headshot of Alex Hall" /></p>

<p>Hi! I'm Alex. I have been building websites since I was a kid and Angelfire/Geocities sites and dial-up internet were all the rage. I received a bachelor's degree in Computer Information Systems from <a href="https://www.rwu.edu/">RWU</a> in 2009 where I further developed an interest in web development and minored in graphic design.</p>

<p>I have been fortunate to work in quality assurance, automation, and operations over the past 11 years with a Fortune 50 company. However, due to recent technology and organizational changes I am looking for new opportunities where I can use my skills to make an impact and continue growing as a professional. It's time for a change in a new direction. <b>I am excited to bring my diverse technical experience and web development skills into a front-end developer or SDET role that I'm truly passionate about.</b></p>

<p>My current focus is building single-page applications with <a href="https://reactjs.org/">React</a> while mastering ES6+ JavaScript, CSS, and learning all of the cool associated libraries and tools. I'm also diving into the world of <a href="https://www.netlify.com/blog/2020/04/14what-is-a-static-site-generator-and-3-ways-to-find-the-best-one/">static-site generators</a> and templating langauges. Please check out my <a href="https://github.com/Aroxx">GitHub</a> and <a href="https://linkedin.com/in/alexpeterhall">Linkedin</a> profiles and feel free to reach out at alexpeterhall @ gmail or on any of my online profiles linked here.</p>

<p>I also read a lot and I'm always learning something new. I am currently fascinated with philosophy, leadership, and psychology. I also like riding motorcycles.</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h2>Latest
  {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }}
    Posts{% endif %}
</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p> 
  More posts can be found in
  <a href="{{ '/blog/' | url }}">the archive</a>.
</p>