---
layout: layouts/home.njk
---

<p align="center"><img src="/img/headshot.png" /></p>

<p align="center">
  <i class="fas fa-house-user"></i> Central New Jersey, USA &nbsp;
  <i class="fas fa-envelope"></i> alexpeterhall @ gmail
</p>

<p>
  I have been building websites since I was a kid and Angelfire/Geocities
  websites and dial-up internet were all the rage. I received my degree in
  Computer Information Systems from
  <a href="https://www.rwu.edu/">RWU</a> in 2009 where I further developed an
  interest in web development and minored in graphic design.
</p>
<p>
  I have been fortunate to work for a Fortune 50 company for the past 11 years
  where I've been in the quality assurance, automation, and operations space.
  <b
    >I am currently looking to bring my diverse technical experience and web
    development skills into a front-end developer role.</b
  >
</p>
<p>
  My current focus is building single-page applications with <a href="https://reactjs.org/">React</a> while
  mastering ES6+ JavaScript, CSS/SASS, and all of the cool associated libraries
  and tools. Please check out my
  <a href="https://github.com/Aroxx">GitHub</a> profile and reach out to me via
  <a href="https://linkedin.com/in/alexpeterhall">Linkedin</a> if you want to
  chat.
</p>

<p>
  I like to read books and learn new things. I am currently fascinated with
  philosophy, leadership, and psychology. I also like riding motorcycles.
</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h2>Latest
  {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }}
    Posts{% endif %}
</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p> 
  More posts can be found in
  <a href="{{ '/posts/' | url }}">the archive</a>.
</p>