---
layout: layouts/base.njk
permalink: /now/
title: Now | Alex Peter Hall
eleventyNavigation:
  key: Now
  order: 1
---

<p>
  This is a <a href="https://nownownow.com/about">Now page</a>. It shows
  what I'm currently working on. I know it looks a bit unfocused but that will (hopefully!) get better as I wrap up some of the courses I'm working on.
</p>

<h2>Development</h2>
<p>
  <ul>
    <li>Working through <a href="https://www.udemy.com/course/react-the-complete-guide-incl-redux/">React - The Complete Guide</a> on Udemy.</li>
    <li>Building projects like this <a href="https://aroxx.github.io/blackjack-react/">Blackjack game</a> and <a href="https://aroxx.github.io/todo-app/">Todo App</a> to practice what I'm learning.</li>
    <li>Finishing up <a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/">JavaScript Algorithms and Data Structures</a> on freeCodeCamp.org</li>
    <li>Finishing up <a href="https://www.freecodecamp.org/learn/front-end-libraries/">Front End Development Libraries</a> on freeCodeCamp.org</li>
    <li>Reading through <a href="https://www.amazon.com/JavaScript-Definitive-Most-Used-Programming-Language/dp/1491952024/">JavaScript: The Definitive Guide</a> to solidify my knowledge of vanilla ES2020 JavaScript.</li>
    <li>Putting everything I learn from the above items in <a href="https://apps.ankiweb.net/">Anki</a> and studying.</li>
    <li>Working on this website and learning all about <a href="https://www.netlify.com/blog/2020/04/14/what-is-a-static-site-generator-and-3-ways-to-find-the-best-one/">Static Site Generators (SSGs)</a> and templating languages.</li>
    <li>Writing about what I'm learning on my blog.</li>
  </ul>
</p>

<h2>Work</h2>
<p>
  <ul>
    <li>Just wrapped up a two-year multi-million dollar international systems implementation where I helped lead testing. We went live in January and the dust is still settling.</li>
    <li>Working on building some custom modules using the <a href="https://github.com/MicroFocus/alm-octane-js-rest-sdk">MicroFocus ALM Octane API SDK</a> to give my team more Octane capabilities.</li>
    <li>Searching for a new gig doing web development that better aligns with my interests and utilizes my technical skills.</li>
  </ul>
</p>

<h2>Life</h2>
<p>
  <ul>
    <li>Chasing my 2 and 3.5-year-old boys around.</li>
    <li><a href="https://github.com/Aroxx/reading-list">Reading books</a>.</li>
    <li>Thinking of doing a solo motorcycle getaway in the Spring to break out of quarantine. The destination is South. Ride the  <a href="https://www.nps.gov/blri/index.htm">Blue Ridge Parkway</a> and the <a href="https://tailofthedragon.com/">Tail of the Dragon</a> again. Ride the <a href="https://cherohala.com/">Cherohala Skyway</a> for the first time and any other awesome roads I can squeeze in. Maybe do some camping. Avoid people.</li>
    <li>I registered for the <a href="https://ridelikeachampion.com/champ-street/">ChampStreet</a> motorcycle class from Yamaha Champions Riding School in June. I was on the fence about doing the one-day <a href="https://ridelikeachampion.com/champ-school/">ChampSchool</a> format but decided to start small and maybe do ChampSchool next year.</li>
  </ul>
</p>
<hr>