---
layout: layouts/base.njk
permalink: /now/
title: Now | Alex Peter Hall
eleventyNavigation:
  key: Now
  order: 2
---

<p>This is a <a href="https://nownownow.com/about">Now page</a>. It shows what I'm currently working on. I know it looks a bit unfocused but I'm learning a lot of new stuff. I'm doing my best to keep a steady pace and continually improve my knowledge and skills.</p>

<h2>Development</h2>
<p>
  <ul>
    <li>Learning <a href="https://www.python.org/">Python</a>.</li>
    <li>Learning <a href="https://reactjs.org/">React</a> and <a href="https://nextjs.org/">Next.js</a>.</li>
    <li>Learning about <a href="https://www.netlify.com/blog/2020/04/14/what-is-a-static-site-generator-and-3-ways-to-find-the-best-one/">Static Site Generators (SSGs)</a>,  templating languages, and all that cool <a href="https://jamstack.org/">Jamstack</a> stuff.</li>
    <li>Building side-projects like this <a href="https://aroxx.github.io/blackjack-react/">Blackjack game</a> and <a href="https://aroxx.github.io/todo-app/">Todo App</a>.</li>
    <li>Putting everything I learn into <a href="https://apps.ankiweb.net/">Anki</a> and studying.</li>
    <li>Writing about what I'm learning on this blog.</li>
  </ul>
</p>

<h2>Work</h2>
<p>
  <ul>
    <li>Just started a new job where I'm working on test automation and continuous integration / continuous delivery.</li>
    <li>Learning CI/CD pipelines, <a href="https://www.docker.com/">Docker</a>, <a href="https://kubernetes.io/">Kubernetes</a>, and all that fun <a href="https://www.gitops.tech/">GitOps</a> stuff.</li>
  </ul>
</p>

<h2>Life</h2>
<p>
  <ul>
    <li>Chasing my two toddlers around.</li>
    <li><a href="https://github.com/Aroxx/reading-list">Reading books</a>.</li>
    <li>Just finished the <a href="https://ridelikeachampion.com/">Yamaha Champions Riding School</a> ChampStreet program and I'm already plotting to get back out on the track and do the 2-day ChampSchool course next year.</li>
  </ul>
</p>
<hr>