---
layout: layouts/base.njk
permalink: /now/
title: Now | Alex Peter Hall
eleventyNavigation:
  key: Now
  order: 2
---

<p>This is a <a href="https://nownownow.com/about">Now page</a>. It shows what I'm currently working on. My focus is 100% on software engineering and growing as a developer.</p>

<h2>Development</h2>
<p>
  <ul>
    <li>Learning <a href="https://reactjs.org/">React</a>, <a href="https://www.netlify.com/blog/2020/04/14/what-is-a-static-site-generator-and-3-ways-to-find-the-best-one/">Static Site Generators (SSGs)</a>,  templating languages, and all that cool <a href="https://jamstack.org/">Jamstack</a> stuff.</li>
    <li>Learning <a href="https://www.python.org/">Python</a>.</li>
    <li>Building side-project websites and toy apps like this <a href="https://aroxx.github.io/blackjack-react/">Blackjack game</a> and <a href="https://aroxx.github.io/todo-app/">Todo App</a>.</li>
    <li>Putting what I learn into <a href="https://apps.ankiweb.net/">Anki</a> and studying using <a href="http://alexpeterhall.com/blog/2021/02/17/learning-with-spaced-repetition/">spaced repetition</a>.</li>
  </ul>
</p>

<h2>Work</h2>
<p>
  <ul>
    <li>Building a test automation framework using <a href="https://www.typescriptlang.org/">TypeScript</a> and <a href="https://webdriver.io/">Webdriverio</a>.</li>
    <li>Learning CI/CD, <a href="https://www.docker.com/">Docker</a>, <a href="https://kubernetes.io/">Kubernetes</a>, and all that fun <a href="https://www.gitops.tech/">GitOps</a> stuff.</li>
  </ul>
</p>

<h2>Life</h2>
<p>
  <ul>
    <li>Chasing my two toddlers around and playing with Legos.</li>
    <li>Reading <a href="https://github.com/Aroxx/reading-list">books</a>, blogs, and documentation.</li>
  </ul>
</p>
<hr>